**__pycache__**
.news_structurizer_venv/**
lassification/models_out*/ 
*.safetensors
venv/
best/
last/
segmentation/checkpoints/
segmentation/artifacts/
segmentation_v2/
punctuation_restore/
rut5_extractor/final_model/*
rut5_extractor/rut5_news_attributes/checkpoint-4540/*
